
#facebook-feed .loading-round {
  margin: 60px;
}

#facebook-feed .loading-round:after {
  border-width: 0 3px 0 0;
  border-style: solid;
  border-color: #3B5998;
  border-radius: 50%;
  display: block;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 50px;

  content: "";

  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

#facebook-feed #showMoreResults {
  position: relative;
}


#facebook-feed article {
    background-color: #FFFFFF;
    padding: 30px 50px 30px 50px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 5px;
    font-size: 2.2rem;
}

#facebook-feed article video {
    max-width: 100%;
}

#facebook-feed article  p {
    font-size: 2.2rem;
}

#facebook-feed article .pre {
    white-space: pre-line;
}

#facebook-feed article .photoFeed img {
    width: 100%;
}

#facebook-feed article .socialFeed {
    margin-top: 10px;
}

#facebook-feed article .socialFeed .feed-meta li {
    float: left;
    margin-right: 15px;
}

#facebook-feed article .socialFeed .feed-meta a {
    font-size: 1.7rem;
}

#facebook-feed article ul.feed-meta a {
    color: #AFB4BD;
}

#facebook-feed article .linkFeed img {
    float: left;
    margin-right: 20px;
}

#facebook-feed ul {
    list-style-type: none;
}

#facebook-photos-feed {
}

#facebook-photos-feed ul {
  padding: 0;
}

#facebook-photos-feed p {
  font-size: 2.2rem;
}

#facebook-photos-feed .photo-mosaic {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 30px 50px 30px 50px;
  margin-bottom: 20px;
}

#facebook-photos-feed .socialFeed {
  margin-top: 10px;
}

#facebook-photos-feed .socialFeed .feed-meta li {
  float: left;
  margin-right: 15px;
}

#facebook-photos-feed .socialFeed .feed-meta a {
  color: #AFB4BD;
  font-size: 1.7rem;
}

#facebook-photos-feed .photo-mosaic img {
  width: 100%;
}

#facebook-photos-feed .linkFeed img {
  float: left;
  margin-right: 20px;
}
